*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d8d4b5;
}
a{
    text-decoration: none;
    color: #000;
}
/*上欄菜單*/
.box1{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 100;
    opacity: .8;
}
.box1-1{
    padding: 20px 150px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
/*搜尋*/
.menu01{
    font-size: 24px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    color: #000;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
} 
.searchTerm {
    width: 100%;
    border: 3px solid #668869;
    border-right: none;
    height: 24px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-size: 18px;
}
.searchTerm:focus{
    color: #668869;
}
.searchButton {
    width: 50px;
    height: 30px;
    border: 2px solid #668869;
    background: #668869;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.wrap{
    width: 12%;
    position: absolute;
    top: 48%;
    left: 15%;
    transform: translate(-50%, -50%);
}

/*類型下拉式選單*/
.menu02{
    font-size: 24px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
.classdropdown {
    position: relative;
    display: inline-block;
}
.classdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}
.classdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.classdropdown-content a:hover {
    background-color: #d8d4b5;
}
.classdropdown:hover .classdropdown-content {
    display: block;
}
.classdropdown:hover .menu02 {
    color: #668869;
}
/*關於我們*/
.menu03{
    font-size: 24px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    color: #000;
}
.menu03 a:hover{
    color: #668869;
    cursor: pointer;
}
/*會員中心下拉式選單*/
.menu04{
    font-size: 24px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
.memberdropdown {
    position: relative;
    display: inline-block;
}
.memberdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}
.memberdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.memberdropdown-content a:hover {
    background-color: #d8d4b5;
}
.memberdropdown:hover .memberdropdown-content {
    display: block;
}
.memberdropdown:hover .menu04 {
    color: #668869;
}
/*購物車*/
.menu05{
    font-size: 24px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.menu05 a:hover{
    color: #668869;
    cursor: pointer;
}
.img1{
    vertical-align:middle;
    display: inline;
    margin-right: 3px;
}
/*購買步驟*/
.box2{
    width: 100%;
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
    font-size: 23px;
    font-family: Microsoft JhengHei;
}
.img2{
    vertical-align: middle;
    display: inline;
    margin: 0 5px 0 5px;
}
.text0{
    color: #668869;
}
/*訂單完成*/
.box3{
    width: 100%;
    height: 100px;
    margin: 100px auto;
}
.box3-1{
    font-size: 90px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #3b4e3d;
}
.box3-2{
    margin: 10px 50px 0 80%;
}
/*最下面的欄位*/
.box8{
    width: 700px;
    height: 100px;
    margin: 0 30%;
    line-height: 80px;
    display: flex;
    justify-content: center;
}
.text1{
    width: 25%;
    height: 20px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    margin: 0 40%;
    line-height:50px;
}
.text2{
    width: 100px;
    height: 20px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    margin-top: 5px;
}
.text4{
    width: 25%;
    height: 20px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    margin: 0 45%;
    line-height:5px;
}
.bottom{
    height: 180px; /*設定footer本身高度*/
    background-color:#668869;
    position: absolute;
    width: 100%;
    margin-top: 350px;
}
.line{
    padding-top: 13px;
    padding-left: 5px;
}
/*回首頁*/
#arrow1 {
    position: fixed;
    top: 90%;
    left: 95%;
    height: 85px;
    width: 85px;
  }
